<!DOCTYPE html>
<html>

<head <meta charset="utl-8">
    <title>Some Website</title>
</head>

<body>
    <h1>We'll be right back! ;-(</h1>
    <p>The sight is currently being updated</p>
</body>

</html>